---
import Layout from '../layouts/Default.astro';
---

<Layout title="Calculadora Biomasa - Prototipo 0">

<h1>Calculadora Biomasa</h1>
<solar-form>
    <form id="form">
        <!--<fieldset>
            <legend>Espacio</legend>
            <label data-suffix="m">
                <span>Altura</span>
                <input value="0" name="altura" type="text">
            </label>
        </fieldset>-->
        <fieldset>
            <legend>Ambiente</legend>
            <label data-suffix="°C">
                <span>Humedad relativa</span>
                <input value="0" id="hum"  name="hum" type="text">
            </label>
            <label data-suffix="°C">
                <span>Temperatura de bulbo seco 1</span>
                <input value="0" id="t1"  name="t1" type="text">
            </label>
            <label data-suffix="°C">
                <span>Temperatura de bulbo seco 2</span>
                <input value="0" id="t2"  name="t2" type="text">
            </label>
        </fieldset>
        <div class="submit-wrapper">
            <button type="submit">Calcular</button>
        </div>
    </form>
</solar-form>

<script>
import * as biomasa from "../lib/biomasa.ts";

function calc(ev) {
    ev.preventDefault()
    console.log([
        parseFloat(document.getElementById("hum").value),
        parseFloat(document.getElementById("t1").value),
        parseFloat(document.getElementById("t2").value),
    ])
    alert(biomasa.deltaEntalpia(
        parseFloat(document.getElementById("hum").value),
        parseFloat(document.getElementById("t1").value),
        parseFloat(document.getElementById("t2").value),
    ))
}

document.getElementById("form").addEventListener("submit", calc)
</script>

</Layout>
