---
export interface Props {
    title: string
}

import resetCSS from "../css/reset.css?url";
import indexCSS from "../css/index.css?url";
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{Astro.props.title}</title>
	<link rel="stylesheet" href={resetCSS}>
	<link rel="stylesheet" href={indexCSS}>
</head>
<body>
    <slot />
</body>
</html>
