:root {
    --border: #ccc;
}

h1 {
    font-size: 1.5rem;
}

#form {
    display: flex;
    flex-direction: row;
    gap: .5em;
    justify-content: start;
    align-items: start;
    padding: 2rem;
    flex-wrap: wrap;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 20rem;
    max-width: 20rem;
    padding-top: .5rem;
}

label {
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 4px;
    box-shadow: #f0f0f0 0 2px 8px inset;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20rem;
}

label::after {
    content: attr(data-suffix);
    padding: 0 .25rem;
    opacity: .75;
}

label:has(input:focus),
label:has(textarea:focus){
    border-color: royalblue;
}
label span {
    flex-basis: 100%;
    font-size: .75rem;
    height: 1rem;
    padding: 0 .5rem;
    opacity: .75;
}

label input,
label textarea,
label select {
    outline: none !important;
    background-color: transparent;
    padding: 0 .5rem;
    flex-grow: 1;
    width: 0;
}
label textarea {
    height: 6rem;
    resize: none;
    background: none;
}
label select {
    margin-top: -1rem;
    padding-top: 1rem;
    z-index: 2
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.submit-wrapper {
    flex-basis: 100%;
}

.btn {
    --c: #eff;
    --border: color-mix(in lch, black 40%, var(--c));
    --bevel: color-mix(in lch, black 10%, var(--c));
    --background: color-mix(in lch, white 20%, var(--c));

    background: linear-gradient(to bottom, var(--background), var(--c) 40%, var(--bevel) 40%, var(--c));

    border: 1px solid var(--border);
    border-bottom-width: 2px;
    border-radius: 6px;
    box-shadow: var(--bevel) 0 -2px 8px 2px inset;

    padding: .5rem 2rem;

    outline: none !important;
}
.btn:focus {
    border-color: royalblue;
    box-shadow: hsl(160deg 100% 80%) 0 -2px 8px inset;
}

button[type="submit"].btn {
    --c: aquamarine;
}

.chart-group {
    display: flex;
    flex-wrap: wrap;
}

.chart-wrapper {
    position: relative;
    flex-basis: 40rem;
    flex-grow: 1;
    height: 25rem;
}
